---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout
  title='About | Teri'
  description='About Teri Eyenike work and background'>
  <div class='stack gap-20'>
    <main class='wrapper about'>
      <Hero
        title='About'
        tagline='Thanks for stopping by. Read below to learn more about myself and my background.'>
        <img
          width='1553'
          height='873'
          src='/assets/at-work.jpg'
          alt='Teri at work with a colleague'
        />
      </Hero>

      <section>
        <h2 class='section-title'>Background</h2>
        <div class='content'>
          <p>Hello! I'm Teri, a software engineer based in Lagos, Nigeria.</p>
          <p>
            I love to learn, build, and write about the technology stack I use.
            Learning is part of what gives me the drive to want to do more and
            build products that provide pixel-perfect and performant
            experiences. If I'm not coding or learning something new in
            technology, I'm possibly engaged with watching documentaries,
            nature, and art through photography creating moment in pixels
            through the lens of my camera.
          </p>
        </div>
      </section>
      {
        /*<section>
        <h2 class='section-title'>Education</h2>
        <div class='content'>
          <p>Zero to Mastery</p>
        </div>
      </section>*/
      }
      <section>
        <h2 class='section-title'>Skills</h2>
        <div class='content'>
          <p>
            JavaScript, HTML/CSS, Node.js, React, Next, Vue, Astro, PostgreSQL,
            Python, AWS, Git, Technical Writing
          </p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
